/***button***/
* {
    outline: none;
}

.Hbtn {
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid #2D3D70;
    border-radius: 5px;
    color: #2D3D70;
    padding: 8px 15px;
    cursor: pointer;
    display: inline;
}

/* .Hbtn:hover {
    background-color: #EDC438;
    color: white;
    border-color: #EDC438;
} */

.Hbtn-default {
    border: 1px solid #000000;
    color: #000000;
}

/* .Hbtn-default:hover {
    background-color: #EDC438;
    border-color: #EDC438;
} */

.Hbtn-success {
    background-color: #000000;
    border: 1px solid #000000;
    color: #CCCCCC;
}

/* .Hbtn-success:hover {
    background-color: #EDC438;
    border-color: #EDC438;
} */

.Hbtn-danger {
    border: 1px solid #000000;
    color: #000000;
}

/* .Hbtn-danger:hover {
    background-color: #E5E5E5;
    border-color: #000000;
    color: #000000;
} */

.Hbtn-warning {
    border: 1px solid #FF9933;
    color: #FF9933;
}

/* .Hbtn-warning:hover {
    background-color: #EDC438;
    border-color: #EDC438;
} */

/***HConfirm***/
.confirmContent {
    display: table;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 40000;
    position: fixed;
    top: 0px;
    left: 0px;
    opacity: 0;
    vertical-align: middle;
}

.confirmContentInner {
    display: table-cell;
    vertical-align: middle;
}

.confirm {
    background-color: white;
    padding: 20px 20px;
    width: 50%;
    min-width: 300px;
    max-width: 450px;
    margin: auto;
    border-radius: 5px;
}

.confirm h4 {
    margin: 0px 0px 10px 0;
}

.confirm hr {
    border: none;
    border-bottom: 1px solid #CCCCCC;
}

.confirm p {
    margin: 20px 0px;
    word-break: break-all;
}

.confirmButtonContent {
    text-align: right;
    width: 100%;
}

.confirmButtonContent button {
    margin-left: 10px;
}